################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/ReactApp/packages
/ReactApp/.vs/ReactApp/v15/Server/sqlite3/db.lock
